.goleiros {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    text-align: center;
    background-color: #7c7c7c;
}

.goleiros img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

main {
    padding: 20px;
}
nav a:hover {
    background-color: black;
    color: white;
    border-color: white;
}
body {
    font-family: Arial, sans-serif;
    background: #aaaaaa;
    color: #000000;
    line-height: 4.6;
}
    header{
        text-align: center;
    }

